.vs/
engine/Debug/
external-deps/
x64/
build/
build-*
shader.err
res/terrain/tmp
fastEarthCache/
cache/
doxygenOut/
res/particles/
res/skybox/
res/terrain/
res/shaders/billboard.frag
res/shaders/billboard.vert
res/shaders/line.frag
res/shaders/line.vert
res/shaders/water.frag
res/image/
res/gltf/
res/materials/
res/fastEarth/
res/shaders/custom/
res/cae/
res/shaders/IBL/
res/ui/comboBox.png~
*autosave.kra
*.png~
res/audio/engine_loop.ogg
res/icon/
res/game/
test.scene
res/assets/
